.card-place-holder {
    background-color: rgba($color: #ffffff, $alpha: 0.2);
    border: 8px solid rgba($color: #ffffff, $alpha: 0.05);
    border-radius: 6px;
    position: absolute;
    box-sizing: content-box;

    &.portrait-card {
        margin-left: -8px;
        margin-top: -8px;
    }

    &.square-card {
        margin-left: -8px;
        margin-top: -8px;
    }

    &.square-half-card {
        margin-left: -8px;
        margin-top: -8px;
        aspect-ratio: 2/1;

        .bottom-left,
        .bottom-right {
            display: none;
        }
    }

    &.monster-card {
        top: 3cqh;
        left: 4cqh;
    }

    &.hero-card {
        top: 3cqh;
        right: 19cqh;
    }

    &.pick-weapon-card {
        top: 10cqh;
        right: 56cqh;
    }

    &.armor-card {
        top: 42cqh;
        right: -1cqh;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            aspect-ratio: 1 / 1;
            background-image: url(../Assets/images/armor-placeholder.png);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.3;
        }
    }

    &.weapon-left-card {
        width: 15cqh;
        top: 57cqh;
        right: 38cqh;
    }

    &.weapon-right-card {
        width: 15cqh;
        top: 57cqh;
        right: 19cqh;
    }

    .corner {
        position: absolute;
        width: 30%;
        aspect-ratio: 1 / 1;
        border-radius: 10px;

        &.top-left {
            border-top: 10px solid rgba($color: #ffffff, $alpha: 0.3);
            border-left: 10px solid rgba($color: #ffffff, $alpha: 0.3);
            top: -6px;
            left: -6px;
        }

        &.top-right {
            border-top: 10px solid rgba($color: #ffffff, $alpha: 0.3);
            border-right: 10px solid rgba($color: #ffffff, $alpha: 0.3);
            top: -6px;
            right: -6px;
        }

        &.bottom-left {
            border-bottom: 10px solid rgba($color: #ffffff, $alpha: 0.3);
            border-left: 10px solid rgba($color: #ffffff, $alpha: 0.3);
            bottom: -6px;
            left: -6px;
        }

        &.bottom-right {
            border-bottom: 10px solid rgba($color: #ffffff, $alpha: 0.3);
            border-right: 10px solid rgba($color: #ffffff, $alpha: 0.3);
            bottom: -6px;
            right: -6px;
        }
    }
}