.goblin-card {
    top: 4%;
    left: 4%;

    .card-type-icon {
        background-image: url(./../Assets/images/icon/icon-goblin.png);
        background-size: 90%;
    }

    .top-row {
        background-color: rgba(0, 0, 0, 0.6);
        height: 10cqh;
        bottom: 22cqh;
    }

    .middle-row {
        background-color: rgba(0, 0, 0, 0.7);
        height: 10cqh;
        bottom: 12cqh;
    }

    .bottom-row {
        height: 12cqh;
        bottom: 0;
    }
}

.shooty-goblin-card::before {
    background: url('./../Assets/images/goblin/shooty-goblin.webp') no-repeat center left;
    background-size: 100%;
}

.stabby-goblin-card::before {
    background: url('./../Assets/images/goblin/stabby-goblin.webp') no-repeat center left;
    background-size: 100%;
}

.bomber-goblin-card::before {
    background: url('./../Assets/images/goblin/bomb-goblin.webp') no-repeat center left;
    background-size: 100%;
}

.sneaky-goblin-card::before {
    background: url('./../Assets/images/goblin/sneaky-goblin.webp') no-repeat center left;
    background-size: 100%;
}

.boss-goblin-card::before {
    background: url('./../Assets/images/goblin/boss-goblin.webp') no-repeat center left;
    background-size: 100%;
}

.shadow-goblin-card::before {
    background: url('./../Assets/images/goblin/shadow-goblin.webp') no-repeat center left;
    background-size: 100%;
}

.shaman-goblin-card::before {
    background: url('./../Assets/images/goblin/shaman-goblin.webp') no-repeat center left;
    background-size: 100%;
}

.goblin-king-card {
    background: url('./../Assets/images/goblin/goblin-king.webp') no-repeat center left;
    background-size: 100%;
}

.goblin-minion-card {
    background: url('./../Assets/images/goblin/goblin-minion.webp') no-repeat center left;
    background-size: 100%;
}