.action-container {
    margin: 2px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background: url(../Assets/images/action-pattern.png);
    background-size: 80%;
    border: 1px solid darkgray;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.5s linear;

    .action-button {
        aspect-ratio: 1/1;

        &.disarm-trap-action {
            background: url('../Assets//images/disarm-trap.jpg') no-repeat center;
            background-size: 115%;
        }

        &.open-chest-action {
            background: url('../Assets//images/lockpicking.jpg') no-repeat center;
            background-size: 102%;
        }

        &.attack-action {
            background: url('../Assets/images/weapon-attack.jpg') no-repeat center;
            background-size: 110%;
        }

        &.magic-action {
            background: url('../Assets/images/magic-attack.jpg') no-repeat center;
            background-size: cover;
        }
    }
}

.treasure-popup,
.trap-popup {
    max-width: 60%;

    .modal-content {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 5px;
        aspect-ratio: 5/3;
        border: 5px solid black;
    }

    .action-panel {
        background: rgba($color: #fff, $alpha: .7);
        padding: 10px;
        border-radius: 10px;

        &.failed {
            background: rgba($color: #ff7373, $alpha: .7);
        }

        hr {
            margin-block: 0.3em;
        }
    }

    .roll-button {
        width: 100%;
    }

    .dice-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 10px 0;

        .confirm-container {}

        .dice-frame,
        .dice-face {
            width: 100%;
            aspect-ratio: 1/1;
            border: 1px dotted black;
            box-sizing: border-box;
        }

        .dice-face {
            border: 1px double red;
            grid-template-rows: 50% 50%;
            display: grid;
            text-align: center;
            background-color: #fff;
            border-radius: 5px;
            position: relative;

            .dice-number {
                font-size: 2cqw;
            }

            .action-token,
            .health-token,
            .non-token {
                margin: 0;
                height: 60%;
                width: auto;
            }

            .non-token {
                display: none;
            }

            &.selected {
                margin: -5px 0 5px;
                grid-template-rows: 100%;
                border-color: green;

                .dice-number {
                    font-size: 3.5cqw;
                }

                .effect-sign {
                    display: none;
                }

                .dice-status {
                    background: url(../Assets/images/arrow-up.png);
                    background-size: cover;
                    display: block;
                }
            }

            &.no-effect {
                .dice-number {
                    font-size: 3.5cqw;
                }
            }

            &.effect-only {
                grid-template-rows: 100%;

                .effect-sign {
                    display: grid;
                }

                .action-token,
                .health-token,
                .non-token {
                    margin: auto;
                    display: block;
                }

                .dice-number {
                    display: none;
                }
            }

            .dice-status {
                position: absolute;
                bottom: -3px;
                right: -3px;
                width: 2cqw;
                aspect-ratio: 1/1;
                background: url(../Assets/images/arrow-down.png);
                background-size: cover;
            }

            &.addable:hover .add-icon {
                position: absolute;
                width: 100%;
                aspect-ratio: 1/1;
                background: url(../Assets/images/add-icon.png) no-repeat center center;
                background-size: 80%;
                background-color: rgba($color: #00870e, $alpha: .2);
                opacity: .3;
                cursor: pointer;
            }
        }

        &.attack-dice .dice-item {
            background: url(../Assets/images/fist.png) no-repeat center center;
            background-size: 80%;
        }

        &.magic-dice .dice-item {
            background: url(../Assets/images/lightning.png) no-repeat center center;
            background-size: 80%;
        }

        &.speed-dice .dice-item {
            background: url(../Assets/images/arrows.png) no-repeat center center;
            background-size: 80%;
        }

        .dice-item,
        .roll-button {
            width: 100%;
            padding: 0;
            aspect-ratio: 1/1;
            border: 1px solid black;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .roll-button {
            background-image: url(../Assets/images/roll-action.png);
            background-size: cover;
            filter: drop-shadow(.5px .5px 1px #000);

            &:hover {
                transform: rotate(2deg);
            }
        }
    }

    .close-button {
        width: 100%;
    }
}

.treasure-popup {
    .modal-content {
        background: url(../Assets/images/treasure-room.png) no-repeat center;
        background-size: cover;
    }
}

.trap-popup {
    .modal-content {
        background: url(../Assets/images/trap-room.jpg) no-repeat center;
        background-size: cover;
    }
}
