.action-container {
    margin: 2px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background: url(../Assets/images/action-pattern.png);
    background-size: 80%;
    border: 1px solid darkgray;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.5s linear;

    .action-button {
        aspect-ratio: 1/1;

        &.disarm-trap-action {
            background: url('../Assets//images/disarm-trap.jpg') no-repeat center;
            background-size: 115%;
        }
        &.open-chest-action {
            background: url('../Assets//images/lockpicking.jpg') no-repeat center;
            background-size: 102%;
        }

        &.attack-action {
            background: url('../Assets/images/weapon-attack.jpg') no-repeat center;
            background-size: 110%;
        }

        &.magic-action {
            background: url('../Assets/images/magic-attack.jpg') no-repeat center;
            background-size: cover;
        }
    }
}