@keyframes attack {
    0% {
        transform: scale(0.9);
        filter: brightness(1.3);
    }

    20% {
        transform: scale(1.2);
        filter: brightness(0.8);
    }

    40% {
        transform: scale(0.8);
        filter: brightness(1.5);
    }

    68% {
        transform: scale(1.1);
        filter: brightness(0.7);
    }

    78% {
        transform: scale(0.5);
        filter: brightness(1.2);
    }

    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}

@keyframes broken {
    0% {
        transform: scale(0.6);
        filter: brightness(0.4);
    }

    70% {
        transform: scale(1.4);
        filter: brightness(1.5);
    }

    80% {
        transform: scale(0.9);
        filter: brightness(0.8);
    }

    90% {
        transform: scale(1.2);
        filter: brightness(1.2);
    }


    100% {
        transform: scale(0);
        filter: brightness(0);
    }
}

@keyframes take-attack-right {
    0% {
        transform: scale(0);
        opacity: 1;
        transform: translate(0, 0);
    }

    10% {
        transform: scale(1);
        opacity: 1;
        transform: translate(10px, -10px);
    }

    90% {
        transform: scale(3);
        transform: translate(60px, -20px);
    }

    100% {
        transform: scale(5);
        opacity: 0;
        transform: translate(70px, -25px);
    }
}

@keyframes card-die {
    0% {
        transform: scale(1.6);
        opacity: 1;
    }

    20% {
        transform: scale(0.8);
    }

    70% {
        transform: scale(2);
    }

    99% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        background-size: cover;
        filter: grayscale(0.7);
        opacity: 0.7;
    }
}

.attack-animation {
    animation: attack 0.1s ease-out;
    animation-iteration-count: 3;
}

.broken {
    animation: broken 0.2s ease-out forwards;
    animation-iteration-count: 1;
}

.take-attack-right-animation {
    animation: take-attack-right 3s ease-in-out forwards;
    animation-iteration-count: 1;
}

.die-animation {
    animation: card-die 0.3s ease-in-out forwards;
    animation-iteration-count: 1;
}