.avatar-goblin {
    position: absolute;
    width: 30px;
    aspect-ratio: 1 / 1;
    background: url('../../Assets/images/goblin.png') no-repeat top left;
    background-size: cover;
    filter: drop-shadow(5px 5px 5px #222);
    margin-top: 5px;
    margin-left: 5px;
}

.goblin-tooltip {
    box-sizing: border-box;
    border: 2px solid #222;
    border-radius: 5px;
    width: 100%;
    position: relative;
    aspect-ratio: 7 / 5;

    .defend-power {
        background-image: url(../../Assets/images/shield.png);
        background-size: cover;
        width: 45px;
        position: absolute;
        right: 55px;
        top: 5px;
        aspect-ratio: 1 / 1;
        text-align: center;
        font-size: 30px;
        line-height: 45px;
        color: #222;
        filter: drop-shadow(2px 4px 6px black);
    }

    .goblin-tooltip-content {
        width: 55%;
        padding: 5px;
        color: #222;
        background-color: rgba($color: #fff, $alpha: 0.8);
        border-radius: 2px;
        padding-top: 15px;

        .goblin-tooltip-row {
            display: inline-flex;
            width: 100%;
            margin-bottom: 5px;
            border-left-width: 2px;
            border-left-style: solid;
            align-items: center;
            flex-wrap: wrap;
        }

        .goblin-tooltip-name {
            position: absolute;
            display: inline-block;
            background-color: #222;
            border-radius: 5px;
            top: -10px;
            left: 10px;
            padding: 0 20px 0 10px;
            color: #fff;
            font-weight: bold;
        }

        .goblin-tooltip-attack {
            border-left-color: red;
        }

        .goblin-tooltip-counter-attack {
            border-left-color: blue;
        }

        .goblin-tooltip-description {
            border-left-color: #fff;
            padding-left: 5px;
            font-size: 0.7rem;
        }

        .action-panel {
            height: 30px;
            text-align: left;
            padding-left: 5px;
            position: absolute;
            display: inline-flex;
            left: 5px;
            bottom: 5px;
            background-color: rgba($color: #fff, $alpha: 0.8);
            align-items: center;
            border-radius: 2px;
            border-left: 4px solid #fff;
            padding-right: 15px;
            font-size: 1.5rem;
            border-top-right-radius: 15px;

            &.attack-panel {
                border-left-color: rgb(236, 0, 20);
                bottom: 85px;
                padding-left: 0;
            }

            &.counter-attack-panel {
                border-left-color: rgb(255 145 51);
                bottom: 45px;
                padding-left: 0;
            }

            &.move-panel {
                border-left-color: #762700;
            }

            .icon-move {
                background: url('../../Assets/images/boot.png') no-repeat center right;
                background-size: 100%;
                width: 25px;
                aspect-ratio: 1 / 1;
                margin: 0 5px;
                display: inline-block;
            }

            .arrow-right {
                background: url('../../Assets/images/arrow-down.png') no-repeat center right;
                rotate: -90deg;
                background-size: 100%;
                width: 15px;
                aspect-ratio: 1 / 1;
                margin-left: 5px;
                display: inline-block;
            }

            .action-sign {
                width: 35px;
                aspect-ratio: 1 / 1;
                margin-left: 2px;
                display: inline-block;
                position: relative;
                filter: drop-shadow(1px 0 2px #222);
                margin-right: 15px;

                &:after {
                    content: "";
                    position: absolute;
                    left: 97%;
                    top: 0;
                    width: 0;
                    height: 0;
                    border-top: 28px solid transparent;
                    border-left: 10px solid transparent;
                    border-bottom: 7px solid transparent;
                }

                &.icon-monster-action {
                    background: url('../../Assets/images/action/monster-action.png') no-repeat 3px center;
                    background-size: 100%;
                    background-color: #762700;

                    &:after {
                        border-left-color: #762700;
                    }
                }

                &.icon-attack-action {
                    background: url('../../Assets/images/action/attack.png') no-repeat 3px center;
                    background-size: 100%;
                    background-color: rgb(236, 0, 20);
                    margin-left: 0;

                    &:after {
                        border-left-color: rgb(236, 0, 20);
                    }
                }

                &.icon-counter-attack-action {
                    background: url('../../Assets/images/action/counter-attack.png') no-repeat 3px center;
                    background-size: 100%;
                    background-color: rgb(255 145 51);
                    margin-left: 0;

                    &:after {
                        border-left-color: rgb(255 145 51);
                    }
                }
            }
        }

        .icon-attack-type,
        .icon-goblin,
        .icon-attack,
        .icon-counter-attack,
        .icon-health,
        .icon-reward-health,
        .icon-tiles,
        .icon-hero,
        .icon-dice,
        .icon-treasure-bag,
        .icon-bomb,
        .icon-defeat-goblin {
            display: inline-block;
            width: 1.6rem;
            aspect-ratio: 1 / 1;
            align-self: center;
            margin-left: 2px;

            &.icon-melee {
                background: url('../../Assets/images/action/melee.png') no-repeat top left;
                background-size: cover;
            }

            &.icon-range {
                background: url('../../Assets/images/action/range.png') no-repeat top left;
                background-size: cover;
            }

            &.icon-magic {
                background: url('../../Assets/images/action/magic.png') no-repeat top left;
                background-size: cover;
            }
        }

        .icon-dice {
            background: url('../../Assets/images/dice-red.png') no-repeat top left;
            background-size: cover;
            margin-right: 2px;
        }

        .icon-bomb {
            background: url('../../Assets/images/bomb.png') no-repeat top left;
            background-size: cover;
        }

        .icon-treasure-bag {
            background: url('../../Assets/images/treasure-chest.png') no-repeat top left;
            background-size: cover;
            filter: drop-shadow(0 0 1px black);
        }

        .icon-reward-health {
            background: url('../../Assets/images/heart.png') no-repeat top left;
            background-size: cover;
            width: 1.2rem;
        }

        .icon-defeat-goblin {
            background-image: url('../../Assets/images/stopping.png'), url('../../Assets/images/goblin.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover, 80%;
        }

        .icon-tiles {
            background: url('../../Assets/images/tiles.png') no-repeat center center;
            background-size: cover;
            margin-left: -1px;
        }

        .icon-attack {
            background: url('../../Assets/images/action/attack.png') no-repeat top left;
            background-size: cover;
        }

        .icon-hero {
            background: url('../../Assets/images/action/hero.png') no-repeat center center;
            background-size: cover;
        }

        .icon-counter-attack {
            background: url('../../Assets/images/action/counter-attack.png') no-repeat top left;
            background-size: cover;
        }

        .icon-health {
            width: 45px;
            background: url('../../Assets/images/heart.png') no-repeat;
            background-size: cover;
            position: absolute;
            top: 5px;
            right: 5px;
            filter: drop-shadow(2px 4px 6px black);
        }

        .icon-goblin {
            background: url('../../Assets/images/goblin.png') no-repeat top left;
            background-size: cover;
        }

    }

    &.shooty-goblin-tooltip {
        background: url('../../Assets/images/goblin/shooty-goblin.webp') no-repeat center left;
        background-size: 145%;
    }

    &.stabby-goblin-tooltip {
        background: url('../../Assets/images/goblin/stabby-goblin.webp') no-repeat center left;
        background-size: 145%;
    }

    &.bomber-goblin-tooltip {
        background: url('../../Assets/images/goblin/bomb-goblin.webp') no-repeat center left;
        background-size: 145%;
    }

    &.sneaky-goblin-tooltip {
        background: url('../../Assets/images/goblin/sneaky-goblin.webp') no-repeat center left;
        background-size: 145%;
    }

    &.boss-goblin-tooltip {
        background: url('../../Assets/images/goblin/boss-goblin.webp') no-repeat center left;
        background-size: 145%;
    }

    &.shadow-goblin-tooltip {
        background: url('../../Assets/images/goblin/shadow-goblin.webp') no-repeat center left;
        background-size: 145%;
    }

    &.shaman-goblin-tooltip {
        background: url('../../Assets/images/goblin/shaman-goblin.webp') no-repeat center left;
        background-size: 145%;
    }

    &.goblin-king-tooltip {
        background: url('../../Assets/images/goblin/goblin-king.webp') no-repeat center left;
        background-size: 145%;
    }

    &.goblin-minion-tooltip {
        background: url('../../Assets/images/goblin/goblin-minion.webp') no-repeat center left;
        background-size: 145%;
    }
}

.goblin-encounter-container {
    display: block;
    background-size: cover;

    .goblin-tooltip {
        aspect-ratio: 16/9;
        background-size: cover;
        border-width: 3px;


        .goblin-tooltip-content {
            width: 40%;
        }
    }
}

.hero-encounter-container {
    width: 30%;
    aspect-ratio: 2/3;
    background: url(../../Assets/images/hero-viking.webp) bottom;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 20%;
    border-radius: 4px;
    border: 8px solid;
    padding: 0;
    filter: drop-shadow(-2px -2px 1px black);
    border-color: #000;
    outline: 1px solid #2f2f2f;
    outline-offset: -8px;

    &:before {
        content: " ";
        height: 100%;
        width: 9%;
        position: absolute;
        left: 1%;
        background-color: rgba($color: #fff, $alpha: 0.15)
    }

    .health-bar {
        height: 45%;
        width: 10%;
        right: 0;
        position: absolute;
        display: grid;
        grid-auto-rows: 10%;
        bottom: 45%;

        .health-power {
            width: auto;
            height: 110%;
        }
    }

    .defend-power {
        background-image: url(../../Assets/images/shield.png);
        background-size: cover;
        width: 45px;
        position: absolute;
        right: 0;
        top: 58%;
        aspect-ratio: 1 / 1;
        text-align: center;
        font-size: 30px;
        line-height: 45px;
        color: #222;
        filter: drop-shadow(2px 4px 6px black);
    }

    .dice-power-container {
        display: grid;
        grid-template-rows: 30% 30% 30%;
        gap: 5%;
        height: 20%;
        top: 39%;
        left: 0;
        position: absolute;
        margin-bottom: 5px;

        .power-row {
            display: inline-flex;
            align-items: center;
            padding-left: 2px;
            padding-right: 15px;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.7987788865546218) 0%,
                    rgba(255, 255, 255, 0.4990589985994398) 70%,
                    rgba(255, 255, 255, 0) 100%);

            .icon {
                height: 100%;
                aspect-ratio: 1 / 1;
                display: inline-block;
                position: relative;
                border-radius: 5px;
                border: 1px solid #fff;
                margin-right: 2px;

                &.strength-icon {
                    background: center center no-repeat rgb(145, 34, 0) url(../../Assets/images/strength.png);
                    background-size: 75%;
                }

                &.magic-icon {
                    background: center center no-repeat rgb(18, 113, 202) url(../../Assets/images/book.png);
                    background-size: 100%;
                }

                &.speed-icon {
                    background: center center no-repeat green url(../../Assets/images/speed.png);
                    background-size: 75%;
                }
            }
        }
    }

    .hero-card-name {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 2% 20% 2% 6%;
        text-align: left;
        position: absolute;
        top: 60%;
        width: 104%;
        left: -2%;

        &.sub-name {
            font-size: 0.6rem;
            top: -1px;
            padding: 1% 3% 2% 10%;
            text-align: right;
            width: fit-content;
            right: -1px;
            left: auto;
            border-bottom-left-radius: 20px;
            background-color: black;
            color: #fff;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
            border-left: 1px solid rgba($color: #fff, $alpha: 0.15);
        }
    }

    .description {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 40%;

        &:before {
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../../Assets/images/card-text.png);
            background-size: cover;
            opacity: .6;
            position: absolute;
            content: ' ';
        }
    }

}

.encounter-modal {

    .weapon-card,
    .rune-card,
    .armor-card {
        width: 60%;
        aspect-ratio: 1/1;
        border: 2px solid #000;
        position: absolute;
        border-radius: 4px;
        outline: 1px solid #2f2f2f;
        outline-offset: -2px;
        cursor: pointer;

        &.weapon-card-0 {
            left: -60%;
            top: 30%;

            &:hover {
                top: 28%;
            }
        }

        &.weapon-card-1 {
            left: -70%;
            top: 67%;

            &:hover {
                top: 65%;
            }
        }

        &.rune-card-0 {
            bottom: -17%;
            left: -20%;
        }

        &.rune-card-1 {
            bottom: -17%;
            left: 10%;
        }

        &.rune-card-2 {
            bottom: -20%;
            left: 40%;
        }

        .item-name {
            width: fit-content;
            background-color: #000;
            top: -1px;
            right: -1px;
            padding: 2% 22% 2% 10%;
            color: #fff;
            position: absolute;
            font-size: .5rem;
            border-bottom-left-radius: 10px;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
            border-left: 1px solid rgba($color: #fff, $alpha: 0.15);
        }
    }

    .weapon-card {
        &:after {
            content: ' ';
            background: url(../../Assets/images/weapon.png) no-repeat center;
            background-size: 70%;
            background-color: #000;
            height: 20%;
            aspect-ratio: 1 / 1;
            position: absolute;
            top: -1px;
            right: -1px;
            border-radius: 50%;
        }

        &:hover {
            z-index: 1;
            width: 62%;
            filter: brightness(1.2);

            .use-button {
                visibility: visible;
            }
        }

        .use-button {
            position: absolute;
            width: 100%;
            height: fit-content;
            left: -2px;
            background-color: black;
            top: 100%;
            text-align: center;
            align-content: center;
            color: #fff;
            font-size: 0.8rem;
            z-index: 1;
            border: 2px solid #000;
            box-sizing: content-box;
            border-radius: 4px;
            visibility: hidden;
            content: "!! Attack !!";
        }

        .attack-type {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.7987788865546218) 0%,
                    rgba(255, 255, 255, 0.4990589985994398) 70%,
                    rgba(255, 255, 255, 0) 100%);
            position: absolute;
            bottom: 0;
            width: fit-content;
            display: inline-flex;
            font-size: 1.2rem;
            padding-left: 22%;
            color: #000;
            padding-right: 15px;

            &.melee-type::after {
                content: '';
                background: url(../../Assets/images/action/melee.png) rgb(145, 34, 0) center no-repeat;
                background-size: 90%;
                height: 80%;
                aspect-ratio: 1 / 1;
                border-radius: 5px;
                position: absolute;
                left: 2px;
                bottom: 3px;
                border: 1px solid white;
            }
        }
    }

    .armor-card {
        width: 45%;
        right: -30%;
        bottom: -23%;
    }

    .rune-card {
        width: 30%;
    }
}

.fight-container {
    display: grid;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
    gap: 1%;
    position: absolute;
    width: 25%;
    top: 54%;
    left: 5%;

    .selected-weapon {
        position: absolute;
        top: -250%;
        left: 0;
        rotate: 2deg;

        .use-button {
            bottom: 40%;
            top: auto;
            opacity: .5;
        }

    }

    .dice-container {
        width: 100%;
        aspect-ratio: 1/1;
        border: 1px solid #ffffff;
        background-color: #000;

        &.rollable {
            background-image: url(../../Assets/images/dice.png);
            background-size: cover;
            background-color: #5e5e5e;
        }
    }

    .monster-dice-container {
        background-color: rgb(255, 122, 122);
        background-image: url(../../Assets/images/dice-red.png);
        background-size: cover;

    }
}