.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  margin: 5px auto;
  width: 50%;
}

.right-panel,
.left-panel {
  width: 25%;
}

.grid-item {
  background-color: transparent;
  border: #f1f1f1 dashed;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grid-item.ready-to-explore {
  background: url('./Assets/images/cover.png') no-repeat top left;
  background-size: cover;
}

.grid-item .path {
  position: absolute;
}

.grid-item .path.show {
  display: block;
}

.grid-item .path.path-top {
  width: 40px;
  height: 72px;
  top: -4px;
  background-color: #000000;
}

.grid-item .path.path-bottom {
  width: 40px;
  height: 72px;
  bottom: -4px;
  background-color: #000000;
}

.grid-item .path.path-left {
  width: 72px;
  height: 40px;
  left: -4px;
  background-color: #000000;
}

.grid-item .path.path-right {
  width: 72px;
  height: 40px;
  right: -4px;
  background-color: #000000;
}

.grid-item .path.middle {
  width: 70px;
  height: 70px;
  background-color: #000000;
  border-radius: 20px;
}

.grid-item.prompt-rotate .rotate-button,
.grid-item.prompt-rotate .confirm-rotate-button {
  display: block;
}

.grid-item .rotate-button {
  top: 10px
}

.button-container {
  display: contents;
}

.grid-item .rotate-button,
.grid-item .confirm-rotate-button {
  position: absolute;
}

.grid-item .room-name {
  font-size: 12px;
  color: #cccccc;
  position: relative;
}

.grid-item.disable {
  background-color: #c0c0c0;
}

.grid-item.enable {
  background-color: green;
}

.grid-item.revealed {
  background-color: #ffffff;
}

.grid-item.top {
  border-top-color: #ff0000;
}

.grid-item.bottom {
  border-bottom-color: #ff0000;
}

.grid-item.right {
  border-right-color: #ff0000;
}

.grid-item.left {
  border-left-color: #ff0000;
}

#grid-item-3-3 {
  background-color: #000000;
  border-radius: 30px;
  border-style: solid;
}

#grid-item-3-3.grid-item .path.middle {
  background: url('./Assets/images/entrance.png') no-repeat center;
  background-size: 70%;
}

.grid-item .icon {
  position: absolute;
  display: block;
}

.grid-item .icon.icon-goblin {
  width: 30px;
  height: 30px;
  left: 45px;
  top: 45px;
  background: url('./Assets/images/goblin.png') no-repeat top left;
  background-size: cover;
}

.grid-item .icon.icon-viking {
  width: 50px;
  height: 50px;
  left: 1px;
  top: 1px;
  background: url('./Assets/images/viking.png') no-repeat top left;
  background-size: cover;
}

.grid-item .icon.icon-trap {
  width: 50px;
  height: 50px;
  background: url('./Assets/images/trap.png') no-repeat top left;
  background-size: cover;
}

.grid-item .icon.icon-treasure {
  width: 40px;
  height: 40px;
  background: url('./Assets/images/chest.png') no-repeat top left;
  background-size: cover;
}

.modal-overlay {
  position: fixed;
  /* Overlay the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent background */
  z-index: 100;
  /* Ensure it's on top of the page content */
}

.modal {
  background-color: white;
  margin: 10% auto;
  /* Center the modal */
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  /* Responsive width */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-button {
  width: auto;
  POSITION: absolute;
  top: 3px;
  right: 3px;
}