@import "App-color";

body {
  font-family: 'MedievalSharp', serif;
}

.App {
  display: grid;
  grid-template-columns: 70% 30%;

  hr {
    width: 100%;
    margin: 0 0 .4rem 0;

    &.half {
      width: 50%;
    }
  }

  button {
    cursor: pointer;
    padding: 2px 15px;
  }

  .close-button {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    text-align: center;
    display: inline;
    border: none;
    padding: 0;
  }



  .modal {
    border: 5px solid #000;

    .button-container {
      display: inline-block;
      width: 100%;
      margin: 10px 0;
    }
  }
}

.grid-container {
  background-color: #1f2135;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0;
  border: 5px solid #1f2135;
  border-radius: 5px;
  margin: 2px;
  aspect-ratio: 1/1;
  max-height: 100vh;
  box-sizing: border-box;
}

.right-panel,
.left-panel {
  display: block;
  padding: 2px;
}

.grid-item {
  background: url(../src/Assets/images/soil.png) no-repeat center;
  background-size: cover;
  border: 1px solid #1f2135;
  border-radius: 5px;
  aspect-ratio: 1/1;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 6vw;

  .room-invalid-sign {
    aspect-ratio: 1/1;
    width: 100%;
    position: absolute;
    display: block;
    background-color: rgba(255, 0, 0, 0.2);
  }
}

.grid-item .explore-button {
  background: url(../src/Assets/images/vision.png) no-repeat center;
  background-size: cover;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}

.grid-item .explore-button:hover {
  filter: drop-shadow(5px 5px 10px #413a00)
}

.grid-item.ready-to-explore {
  background: url('./Assets/images/cover.png') no-repeat top left;
  background-size: cover;
}

.grid-item.room-is-rotating {
  opacity: 0.3;
}

.grid-item .path {
  position: absolute;
  background-color: #000000;
}

.grid-item .path .direction {
  background: url(../src/Assets/images/arrow-path.png) no-repeat center;
  background-size: 50%;
  position: absolute;
  z-index: 9;
}

.grid-item .path.path-top .direction {
  transform: rotate(270deg);
  width: 100%;
  height: 25px;
  top: -10px;
}

.grid-item .path.path-bottom .direction {
  transform: rotate(90deg);
  width: 100%;
  height: 25px;
  bottom: -10px;
}

.grid-item .path.path-left .direction {
  transform: rotate(180deg);
  width: 45px;
  height: 100%;
  left: -20px;
}

.grid-item .path.path-right .direction {
  width: 45px;
  height: 100%;
  right: -20px;
}

.grid-item .path.show {
  display: block;
}

.grid-item .path.path-top {
  width: 40%;
  height: 60%;
  top: -1px;
}

.grid-item .path.path-bottom {
  width: 40%;
  height: 60%;
  bottom: -1px;
}

.grid-item .path.path-left {
  width: 60%;
  height: 40%;
  left: -1px;
}

.grid-item .path.path-right {
  width: 60%;
  height: 40%;
  right: -1px;
}

.grid-item .path.middle {
  width: 85%;
  height: 85%;
  border-radius: 20px;
}

.grid-item.prompt-rotate .rotate-button,
.grid-item.prompt-rotate .confirm-rotate-button {
  display: block;
}

.grid-item .rotate-button {
  top: 0;
  right: -25px;
  background: url(../src/Assets/images/rotate-arrow.png) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  z-index: 10;
  border: none;
}

.grid-item .confirm-rotate-button {
  top: 0px;
  right: -55px;
  background: url(../src/Assets/images/check.png) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  z-index: 10;
  border: none;
}

.grid-item .confirm-rotate-button:disabled {
  opacity: 0.3;
}

.button-container {
  display: contents;
}

.grid-item .rotate-button,
.grid-item .confirm-rotate-button {
  position: absolute;
}

.grid-item.revealed,
#grid-item-3-3.grid-item {
  background: url(../src/Assets/images/dungeon-pattern.png) no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}


#grid-item-3-3.grid-item .path.middle {
  background: url('./Assets/images/entrance.png') no-repeat center;
  background-size: 70%;
  width: 85%;
  height: 85%;
  background-color: black;
}

.grid-item .icon {
  position: absolute;
  display: block;
}

.icon {
  display: block;
}

.icon.icon-viking {
  width: 50px;
  height: 50px;
  left: 1px;
  top: 1px;
  background: url('./Assets/images/viking.png') no-repeat top left;
  background-size: cover;
  position: absolute;
  transition: all 0.5s linear;
  filter: drop-shadow(-5px -5px 5px #222);
}

.grid-item .icon.icon-trap {
  width: 50px;
  height: 50px;
  background: url('./Assets/images/trap.png') no-repeat top left;
  background-size: cover;

  &.solved {
    opacity: .3;
  }
}

.grid-item .icon.icon-treasure {
  width: 40px;
  height: 40px;
  background: url('./Assets/images/treasure-icon-close.png') no-repeat top left;
  background-size: cover;

  &.solved {
    background: url('./Assets/images/treasure-icon-open.png') no-repeat top left;
    background-size: cover;
    opacity: .3;
  }
}

.modal-overlay {
  position: fixed;
  /* Overlay the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Semi-transparent background */
  z-index: 100;
  /* Ensure it's on top of the page content */
}

.controller-container {
  position: relative;
  width: 105px;
  height: 120px;
}

.controller-container button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: .5px solid;
  position: absolute;
  background: url(../src/Assets/images/play.png) no-repeat;
  background-size: cover;
}

.controller-container button:disabled {
  opacity: 0.3;
}

.controller-container button.top {
  transform: rotate(270deg);
  left: 35px;
}

.controller-container button.bottom {
  transform: rotate(90deg);
  left: 35px;
  top: 70px;
}

.controller-container button.left,
.controller-container button.right {
  top: 35px;
}

.controller-container button.left {
  transform: rotate(180deg);
}

.controller-container button.right {
  left: 70px;
}

.controller-container .reset-button {
  top: 95px;
  left: 25px;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  background: none;
  position: absolute;
}

// Modal
.fade.modal-backdrop.show {
  opacity: 0.6;
}

.confirm-dialog {
  text-align: center;

  .button-row {
    display: flex;
    justify-content: space-between;
  }
}