.item-image {
    border-radius: 5px;
    width: 100%;
    aspect-ratio: 1/1;
    border: .5px solid orange;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 5px black);
    background-color: #1f2135;

    &.viking-axe {
        background: url('./Assets/images/viking-axe.jpg') no-repeat;
        background-size: cover;
    }

    &.aegis {
        background: url('./Assets/images/aegis.jpg') no-repeat;
        background-size: cover;
    }

    &.book-of-thoth {
        background: url('./Assets/images/book-of-thoth.jpg') no-repeat;
        background-size: cover;
    }

    &.breath-of-anubis {
        background: url('./Assets/images/breath-of-anubis.jpg') no-repeat;
        background-size: cover;
    }

    &.caduceus {
        background: url('./Assets/images/caduceus.jpg') no-repeat;
        background-size: cover;
    }

    &.durandal {
        background: url('./Assets/images/durandal.jpg') no-repeat;
        background-size: cover;
    }

    &.dragon-scale-armor {
        background: url('./Assets/images/dragon-scale-armor.jpg') no-repeat;
        background-size: cover;
    }

    &.dragon-sword {
        background: url('./Assets/images/dragon-sword.jpg') no-repeat;
        background-size: cover;
    }

    &.excalibur {
        background: url('./Assets/images/excalibur.jpg') no-repeat;
        background-size: cover;
    }

    &.eye-of-odin {
        background: url('./Assets/images/eye-of-odin.jpg') no-repeat;
        background-size: cover;
    }

    &.fragarach {
        background: url('./Assets/images/fragarach.jpg') no-repeat;
        background-size: cover;
    }

    &.gae-bolg {
        background: url('./Assets/images/gae-bolg.jpg') no-repeat;
        background-size: cover;
    }

    &.gleipnir {
        background: url('./Assets/images/gleipnir.jpg') no-repeat;
        background-size: cover;
    }

    &.golden-fleece {
        background: url('./Assets/images/golden-fleece.jpg') no-repeat;
        background-size: cover;
    }

    &.gordian-knot {
        background: url('./Assets/images/gordian-knot.jpg') no-repeat;
        background-size: cover;
    }

    &.gungnir {
        background: url('./Assets/images/gungnir.jpg') no-repeat;
        background-size: cover;
    }

    &.heart-of-gaia {
        background: url('./Assets/images/heart-of-gaia.jpg') no-repeat;
        background-size: cover;
    }

    &.helm-of-darkness {
        background: url('./Assets/images/helm-of-darkness.jpg') no-repeat;
        background-size: cover;
    }

    &.masamune {
        background: url('./Assets/images/masamune.jpg') no-repeat;
        background-size: cover;
    }

    &.medusa-shield {
        background: url('./Assets/images/medusa-shield.jpg') no-repeat;
        background-size: cover;
    }

    &.mjolnir {
        background: url('./Assets/images/mjolnir.jpg') no-repeat;
        background-size: cover;
    }

    &.nemean-lion-pelt {
        background: url('./Assets/images/nemean-lion-pelt.jpg') no-repeat;
        background-size: cover;
    }

    &.philosopher-stone {
        background: url('./Assets/images/philosopher-stone.jpg') no-repeat;
        background-size: cover;
    }

    &.ring-of-gyges {
        background: url('./Assets/images/ring-of-gyges.jpg') no-repeat;
        background-size: cover;
    }

    &.sigil-of-loki {
        background: url('./Assets/images/sigil-of-loki.jpg') no-repeat;
        background-size: cover;
    }

    &.stone-of-ra {
        background: url('./Assets/images/stone-of-ra.jpg') no-repeat;
        background-size: cover;
    }

    &.tarnhelm {
        background: url('./Assets/images/tarnhelm.jpg') no-repeat;
        background-size: cover;
    }

    &.trident-of-poseidon {
        background: url('./Assets/images/trident-of-poseidon.jpg') no-repeat;
        background-size: cover;
    }

    &.yata-no-kagami {
        background: url('./Assets/images/yata-no-kagami.jpg') no-repeat;
        background-size: cover;
    }
}